form {

    div {
        &.form-group {
            float: none;
            clear: both;

        }
        &.half-width {
            float: left;
            clear: none;
            width: 49%;
            
            &:first-child {
                margin-right: 2%;
            }
        }
        &.errContainer {
            input.form-control,
            select.form-control  {
                border-color: #cc0000;
            }
        }
        .errorMsg {
            width: 100%;
            color: #cc0000;
            margin-bottom: 12px;
        }
        
    }
}