header {
    background-color: #0085a3;

    &.container-fluid {
        margin: 0 0 35px 0;
        padding: 25px;
    }

    &::after {
        content: '';
        display: block;
        float: none;
        clear: both;
    }
}
